.li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.check {
  width: 10%;
  margin-right: 10px;
}

.todo {
  width: 80%;
  word-break: break-all;
  margin-right: 10px;
  color: var(--color-text);
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-accent);
  cursor: pointer;
}
